train_csv_path: /home/user01/aiotlab/htien/5_folds_split_3D/fold_1_train.csv
val_csv_path: /home/user01/aiotlab/htien/5_folds_split_3D/fold_1_val.csv
data_dir: /home/user01/aiotlab/htien/Custom_LBM/data/filter_ds
project_name: LBM
run_name: 3D_training_LBM_200epochs
save_dir: /home/user01/aiotlab/htien/3D_LBM/3D_training/results
pretrained_unet_path: /home/user01/aiotlab/htien/diffusion_model.pth
vae_path: /home/user01/aiotlab/htien/vae_checkpoint.pth
n_epochs: 200
batch_size: 4
accumulate_grad_batches: 4
num_workers: 4
cache_rate: 1.0
use_bfloat16: true
validation_interval: 1
optimizer:
  beta1: 0.9
  lr: 0.0001
  optimizer: Adam
  weight_decay: 0.0
lr_scheduler:
  factor: 0.5
  patience: 2000
  threshold: 0.0001
  cooldown: 2000
  min_lr: 5.0e-07
EMA:
  ema_decay: 0.995
  start_ema_step: 3000
  update_ema_interval: 8
  use_ema: true
lbm:
  latent_loss_type: l2
  latent_loss_weight: 1.0
  pixel_loss_type: l2
  pixel_loss_weight: 10.0
  timestep_sampling: custom_timesteps
  logit_mean: 0.0
  logit_std: 1.0
  selected_timesteps:
  - 250
  - 500
  - 750
  - 1000
  prob:
  - 0.25
  - 0.25
  - 0.25
  - 0.25
  bridge_noise_sigma: 0.005
